html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL STYLE */
html {
  font-size: 18px;
}

body {
  line-height: 1.5;
  background: black;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: white;
}
.select-container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-container select {
  padding: 0.7rem 1.3rem;
  font-size: 1.1rem;
}

.display {
  margin: 1rem 2rem;
}

.article-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid #535353;
  padding: 0.5rem;
}

.article-container aside {
  flex: 0 0 35%;
}

.article-container aside img {
  width: 100%;
  height: 100%;
}

.article-container article {
  flex: 0 0 60%;
}

.article-container article span {
  background: #012933;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.article-container article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.article-container article p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
  color: white;
}

.article-container article a {
  background: #10484d;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.5rem;
}
